.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
}
.form input{
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    
}
.form .sub-btn{
    padding: 5px 0;
    color: beige;
    background-color: hsla(240, 88%, 32%, 0.719);
    

}